<h1>
  Bids of
  <%= current_user.name %>
</h1>
<table class="table table-light table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @bids.each_with_index do |bid, index| %>
      <tr>
        <th scope="row">
          <%= index += 1 %>
        </th>
        <td>
          <%= link_to bid.product.title, product_path(bid.product) %>
        </td>
        <td>
          <%= bid.price %>
        </td>
        <td>
          <%= bid.updated_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
