<div class="container col-md-8" id="content">
  <div id="product-header">
    <h1 id="title">
      <%= @product.title %>
    </h1>
    <p>
      Posted by
      <%= link_to "#{@product.user.name}", product_path %><br/>
    </p>
  </div>

  <hr>

  <div id="product_description">
    <%= @product.description %>
  </div>

  <hr>

  <div id="product_images">
    <% @product.images.each do |image| %>
      <%= image_tag(image.url, class: 'list_image') %>
    <% end %>
  </div>

  <hr>

  <div id="product_start_price">
    <h5>Start price:</h5>
    <%= @product.price %>
  </div>

  <hr>

  <div id="top_bids">
    <%= render 'products/shared/top_bids'%>
  </div>

  <hr>

  <div id="product_menu">
    <% if @allow_edit_destroy %>
      <%= link_to "Edit", edit_product_path(@product), class: 'btn btn-outline-primary' %>
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' %>
    <% end %>

    <% if @allow_bid %>
      <h5>Your current bid:</h5>
      <%= form_for [@product, @bid] do |f| %>
      <div class="field">
        <%= f.text_field :price, id: :bid_price %>
        <div class="actions">
          <% if @bid.persisted? %>
            <%= link_to "Remove", bid_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
          <% end %>
          <%= f.submit "Bid" %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

</div>
